<%= form_with url: '/csvs', method: :post, class: 'text-center' do |form| %>
  <%= form.label :csv, "Upload a new CSV:", class: 'label block m-5' %>
  <%= form.file_field :file, required: true, accept: '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel', class: 'file-input w-full max-w-xs m-3' %>
  <%= form.submit 'Save', class: 'btn' %>
<% end %>

<% if @csvs.size > 0 %>
  <h1 class="text-center text-2xl mt-10">All your csvs</h1>
<% else %>
  <h1 class="text-center text-2xl mt-10">No CSVs yet</h1>
<% end %>

<% @csvs.each do |csv| %>
  <%= link_to csv_path(csv), class: 'flex justify-between items-center m-6 p-6 block rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:bg-gray-100 hover:bg-gray-700' do %>
    <div>
      <h5 class="whitespace-nowrap text-ellipsis overflow-hidden mb-2 text-2xl font-bold tracking-tight text-white"><%= "CSV #{csv.id}" %></h5>
      <p class="font-normal text-gray-400"><%= csv.books.size %> books</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  <% end %>
<% end %>